#receipt_page{
    display: none;
}

@media print {
    #pos_page{
        display: none;
    }
    
    #receipt_page{
        display: block;
    }

    /* Adjust page margins */
    @page {
        margin: 20mm; /* Set margins for the printed page */
    }
}