<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        {% include 'admin-navigation.html' %}
        <div class="row g-4">
            <div class="col-2">
                {% include 'admin-nav.html' %}
            </div>
            <div class="col-10">
                <div class="d-flex flex-row">
                    <img src="https://i.pinimg.com/originals/50/38/f6/5038f6672f089f3a50c4f075feddfc42.gif" alt="">
                    <div class="bg-light p-5" style=" border-radius: 30px 30px 30px 30px;">
                        <h3 class="mt-5">Hello I'm Smart Retail AI</h3>
                        <p>Tell about your concern or inquires. </p>
                        <p>You can tell me about the sales, inventory, products inquires.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>