<div style="position: fixed;">
    <div class="mt-3">
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-dashboard"><i class="bi bi-clipboard-pulse me-2"></i> Dashboard</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-ai-chat"><i class="bi bi-robot me-2"></i> AI Chatbot</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-products"><i class="bi bi-archive me-2"></i> Products</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-category"><i class="bi bi-puzzle me-2"></i> Categories</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-inventory"><i class="bi bi-basket me-2"></i> Inventory</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-sales"><i class="bi bi-database me-2"></i> Sales</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/admin-accounts"><i class="bi bi-people me-2"></i> Accounts</a>
    </div>
    <div>
        <a class="btn w-100 d-flex flex-row justify-content-start" href="/logout"><i class="bi bi-power me-2"></i> Logout</a>
    </div>
</div>