<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        {% include 'admin-navigation.html' %}
        <div id="product_delete_alert" style="display: none;">
            <div style="position: fixed; bottom: 0; z-index: 100" class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>Deleted successfully!
            </div>
        </div>
        <div id="sales_add_alert" style="display: none;">
            <div style="position: fixed; bottom: 0; z-index: 100" class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>Added sale successfully!
            </div>
        </div>
        <div id="sales_edit_alert" style="display: none;">
            <div style="position: fixed; bottom: 0; z-index: 100" class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>Updated sale successfully!
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {% include 'admin-nav.html' %}
            </div>
            <div class="col-10">
                <h3>Sales Transaction</h3>
                <hr>
                <!-- <button class="btn btn-dark btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#addSale">Sale Out</button> -->
                <div>
                    <table id="data-table-sales" class="display" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th style="width: 20%;">Sale Transaction</th>
                                <th style="width: 20%;">Sales Date</th>
                                <th style="width: 20%;">Subtotal</th>
                                <th style="width: 20%;" class="text-center">Total</th>
                                <th style="width: 20%;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Data will be inserted here by JavaScript -->
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
    
    {% include 'footer_links.html' %}
</body>
</html>

<!-- Delete Product Modal -->
<div class="modal fade" id="deleteSale" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-5">
        <div class="modal-body d-flex justify-content-center flex-column align-items-center">
          <input id="sale_id" type="hidden">
          <div style="background-color: rgb(252, 230, 230); border-radius: 100%; padding: 20px">
            <i class="bi bi-exclamation-triangle text-danger" style="font-size: 2rem;"></i>
          </div>
          <h4 class="text-center fw-bolder mb-3 mt-3">Are you sure?</h4>
          <p class="text-center text-muted">This action cannot be undone. All product data will be lost.</p>
        </div>
        <div class="d-flex flex-column">
          <button onclick="deleteProduct()" type="button" class="btn p-2 btn-sm btn-danger">Delete</button>
          <button id="cancel_product" type="button" class="btn p-2 mt-2 btn-sm btn-dark border" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addStock" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bolder" id="addProductLabel">Stock In</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="selected-id">
              <p class="m-0 mb-2" style="font-size: 12px;">Product</p>
              <div class="custom-select">
                  <div class="selected rounded" id="selected-product">Select a product</div>
                  <div class="search-container" id="search-container" style="display: none;">
                      <input type="text" id="search-input" placeholder="Search...">
                      <div id="product-list"></div>
                  </div>
                  <p class="m-0 mb-2 mt-3" style="font-size: 12px;">Stocks</p>
                  <input style="font-size: 14px;" type="number" id="product_stocks" class="form-control mb-3" placeholder="Number of Stocks" min="1">
              </div>
          </div>
        
          <div class="modal-footer">
              <button id="cancel_product_add" type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
              <button onclick="addStock()" type="button" class="btn btn-sm btn-success">Save changes</button>
          </div>
      </div>
  </div>
</div>



<!-- View Product Modal -->
<div class="modal fade" id="viewProduct" tabindex="-1" aria-labelledby="viewProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5 fw-bolder" id="viewProductLabel">View Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input id="product_id_view" type="hidden">
            <p class="m-0 mb-1" style="font-size: 12px;">Product Name: </p>
            <input id="edit_product_name" type="text" class="form-control" placeholder="Enter product name">
        </div>
        <div class="modal-footer">
            <button id="cancel_product_edit" type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
            <button onclick="editProduct()" type="button" class="btn btn-sm btn-success">Save changes</button>
        </div>
        </div>
    </div>
</div>
