<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        {% include 'admin-navigation.html' %}
        <div class="row">
            <div class="col-2">
                {% include 'admin-nav.html' %}
            </div>
            <div class="col-8">
                <h3>Dashboard</h3>
            </div>
        </div>
        
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>