<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        {% include 'admin-navigation.html' %}
        <div id="account_delete_alert" style="display: none;">
            <div style="position: fixed; bottom: 0; z-index: 100" class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>Deleted successfully!
            </div>
        </div>
        <div id="stock_add_alert" style="display: none;">
            <div style="position: fixed; bottom: 0; z-index: 100" class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>Added New Account!
            </div>
        </div>
        <div id="stock_edit_alert" style="display: none;">
            <div style="position: fixed; bottom: 0; z-index: 100" class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>Updated successfully!
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {% include 'admin-nav.html' %}
            </div>
            <div class="col-10">
                <div class="d-flex justify-content-between align-items-end">
                    <h3>Accounts</h3>
                    <button class="btn btn-dark btn-sm mb-3" data-bs-toggle="modal" data-bs-target="#addAccount">Create Account</button>
                </div>
                <hr>
                <div>
                    <table id="data-table-accounts" class="display" style="font-size: 12px;">
                        <thead>
                            <tr>
                                <th style="width: 5%;">ID</th>
                                <th style="width: 15%;">Created Date</th>
                                <th style="width: 15%;">Full Name</th>
                                <th style="width: 10%;">Username</th>
                                <th style="width: 10%;">Email</th>
                                <th style="width: 10%;">Contact</th>
                                <th style="width: 10%;" class="text-center">Role</th>
                                <th style="width: 10%;" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Data will be inserted here by JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    {% include 'footer_links.html' %}
</body>
</html>

<!-- Delete Product Modal -->
<div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-5">
        <div class="modal-body d-flex justify-content-center flex-column align-items-center">
          <input id="account_id" type="hidden">
          <div style="background-color: rgb(252, 230, 230); border-radius: 100%; padding: 20px">
            <i class="bi bi-exclamation-triangle text-danger" style="font-size: 2rem;"></i>
          </div>
          <h4 class="text-center fw-bolder mb-3 mt-3">Are you sure?</h4>
          <p class="text-center text-muted">This action cannot be undone. All product data will be lost.</p>
        </div>
        <div class="d-flex flex-column">
          <button onclick="deleteAccount()" type="button" class="btn p-2 btn-sm btn-danger">Delete</button>
          <button id="cancel_account" type="button" class="btn p-2 mt-2 btn-sm btn-dark border" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addAccount" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bolder" id="addProductLabel">Create Account</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row g-2">
                <div class="col-12 col-md-6">
                    <label for="first_name" class="form-label" style="font-size: 12px;">First Name</label>
                    <input type="text" id="first_name" class="form-control mb-2" placeholder="Enter firstname" style="font-size: 14px;">
                    <div class="invalid-feedback">First name is required.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="last_name" class="form-label" style="font-size: 12px;">Last Name</label>
                    <input type="text" id="last_name" class="form-control mb-2" placeholder="Enter lastname" style="font-size: 14px;">
                    <div class="invalid-feedback">Last name is required.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="contact" class="form-label" style="font-size: 12px;">Contact</label>
                    <input type="text" id="contact" class="form-control mb-2" placeholder="Enter contact" style="font-size: 14px;">
                    <div class="invalid-feedback">Contact is required.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="email" class="form-label" style="font-size: 12px;">Email</label>
                    <input type="email" id="email" class="form-control mb-2" placeholder="Enter email" style="font-size: 14px;">
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="username" class="form-label" style="font-size: 12px;">Username</label>
                    <input type="text" id="username" class="form-control mb-2" placeholder="Enter username" style="font-size: 14px;">
                    <div class="invalid-feedback">Username is required.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="role" class="form-label" style="font-size: 12px;">Role</label>
                    <select id="role" class="form-select form-select-sm">
                        <option value="">Select a role</option>
                        <option value="admin">Administrator</option>
                        <option value="cashier">Cashier</option>
                    </select>
                    <div class="invalid-feedback">Role is required.</div>
                </div>
                
                <div class="col-12 col-md-12">
                    <label for="address" class="form-label" style="font-size: 12px;">Address</label>
                    <textarea id="address" class="form-control" placeholder="Enter your address here..."></textarea>
                    <div class="invalid-feedback">Address is required.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="password" class="form-label" style="font-size: 12px;">Password</label>
                    <input type="password" id="password" class="form-control mb-2" placeholder="Enter password" style="font-size: 14px;">
                    <div class="invalid-feedback">Password is required.</div>
                </div>
                
                <div class="col-12 col-md-6">
                    <label for="cpassword" class="form-label" style="font-size: 12px;">Confirm Password</label>
                    <input type="password" id="cpassword" class="form-control mb-2" placeholder="Confirm password" style="font-size: 14px;">
                    <div class="invalid-feedback">Passwords do not match.</div>
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <button id="cancel_account_add" type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
            <button onclick="addAccounts()" type="button" class="btn btn-sm btn-success">Create</button>
        </div>
      </div>
  </div>
</div>


<div class="modal fade" id="updateAccount" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bolder" id="addProductLabel">Update Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row g-2">
                <input id="id" type="hidden" class="id">
                  <div class="col-12 col-md-6">
                      <label for="first_name" class="form-label" style="font-size: 12px;">First Name</label>
                      <input type="text" id="first_name" class="first_name form-control mb-2" placeholder="Enter firstname" style="font-size: 14px;">
                      <div class="invalid-feedback">First name is required.</div>
                  </div>
                  
                  <div class="col-12 col-md-6">
                      <label for="last_name" class="form-label" style="font-size: 12px;">Last Name</label>
                      <input type="text" id="last_name" class="last_name form-control mb-2" placeholder="Enter lastname" style="font-size: 14px;">
                      <div class="invalid-feedback">Last name is required.</div>
                  </div>
                  
                  <div class="col-12 col-md-6">
                      <label for="contact" class="form-label" style="font-size: 12px;">Contact</label>
                      <input type="text" id="contact" class="contact form-control mb-2" placeholder="Enter contact" style="font-size: 14px;">
                      <div class="invalid-feedback">Contact is required.</div>
                  </div>
                  
                  <div class="col-12 col-md-6">
                      <label for="email" class="form-label" style="font-size: 12px;">Email</label>
                      <input type="email" id="email" class="email form-control mb-2" placeholder="Enter email" style="font-size: 14px;">
                      <div class="invalid-feedback">Please enter a valid email address.</div>
                  </div>
                  
                  <div class="col-12 col-md-6">
                      <label for="username" class="form-label" style="font-size: 12px;">Username</label>
                      <input type="text" id="username" class="username form-control mb-2" placeholder="Enter username" style="font-size: 14px;">
                      <div class="invalid-feedback">Username is required.</div>
                  </div>
                  
                  <div class="col-12 col-md-6">
                      <label for="role" class="form-label" style="font-size: 12px;">Role</label>
                      <select id="role" class="form-select role form-select-sm">
                          <option value="">Select a role</option>
                          <option value="admin">Administrator</option>
                          <option value="cashier">Cashier</option>
                      </select>
                      <div class="invalid-feedback">Role is required.</div>
                  </div>
                  
                  <div class="col-12 col-md-12">
                      <label for="address" class="form-label" style="font-size: 12px;">Address</label>
                      <textarea id="address" class="address form-control" placeholder="Enter your address here..."></textarea>
                      <div class="invalid-feedback">Address is required.</div>
                  </div>
                  
                  <div class="col-12 col-md-12">
                      <label for="password" class="form-label" style="font-size: 12px;">Password</label>
                      <input type="text" id="password" class="password form-control mb-2" placeholder="Enter password" style="font-size: 14px;">
                      <div class="invalid-feedback">Password is required.</div>
                  </div>
              </div>
          </div>
          
          <div class="modal-footer">
              <button id="cancel_account_add" type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
              <button onclick="updateAccounts()" type="button" class="btn btn-sm btn-success">Update</button>
          </div>

          <script>
            function updateAccounts() {
                // Collecting data from the form inputs
                const id = $('.id').val();
                const firstName = $('.first_name').val();
                const lastName = $('.last_name').val();
                const contact = $('.contact').val();
                const email = $('.email').val();
                const username = $('.username').val();
                const role = $('.role').val();
                const address = $('.address').val();
                const password = $('.password').val();
                
            
                // Creating an object to hold the data
                const data = {
                    id: id,
                    first_name: firstName,
                    last_name: lastName,
                    contact: contact,
                    email: email,
                    username: username,
                    role: role,
                    address: address,
                    password: password
                };
            
                // Sending data to the Flask route
                fetch('/update_account', { // Replace '/update_account' with your actual Flask route
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    // Handle response data from Flask
                    if (data.success) {;
                        // You can also close the modal or reset the form here
                        // $('#yourModalId').modal('hide'); // If using Bootstrap modals
                        $('#updateAccount').modal('hide')
                        $('#stock_edit_alert').show()
                        setTimeout(() => {
                            location.reload(); // Reload the page after a short delay
                        }, 1500);
                    } else {
                        alert('Failed to update account: ' + data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            }
            
          </script>
        </div>
    </div>
  </div>