<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        {% include 'nav.html' %}
        <div class="row">
            <div class="col-12 col-md-7 p-3 pt-0">
                <div style="margin-bottom: 100px">
                    <div class="row" style="position: fixed; z-index: 100">
                        <h5 class="fw-bolder" style="background-color: white">Product Listing</h5>
                        <div class="col-10">
                            <input type="text" class="form-control form-control-sm" placeholder="Search Product here...">
                        </div>
                        <div class="col-12 mt-1 d-flex flex-row">
                            <button class="btn btn-sm">All</button>
                            <div id="cashier-category">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="row g-2" id="product-grid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div style="position: fixed; width: 500px; height: 85vh" class="d-flex rounded flex-column">
                    <h5 class="fw-bolder">Cart Orders</h5>
                    <div class="position-relative mb-3 fade-div" style="height: 70vh; overflow-y: auto">
                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th width="30%">img</th>
                                    <th width="50%">description</th>
                                    <th width="15%">qty</th>
                                    <th width="5%">action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows here -->
                                <tr style="animation: fadeOut 2s forwards; animation-timeline: scroll()">
                                    <td>
                                        <div style="height: 100px;">
                                            <img style="object-fit: cover; width: 100%; height: 100%;" src="../static/uploads/OLYMPIC1852.png" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="p-0 mb-1">Prod 1</p>
                                        <p class="p-0 mb-1">100.00 x 1</p>
                                    </td>
                                    <td>
                                        <input class="form-control bg-muted form-control-sm" type="text" value="1">
                                    </td>
                                    <td>
                                        <button class="btn"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                                <tr style="animation: fadeOut 2s forwards; animation-timeline: scroll()">
                                    <td>
                                        <div style="height: 100px;">
                                            <img style="object-fit: cover; width: 100%; height: 100%;" src="../static/uploads/OLYMPIC1852.png" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="p-0 mb-1">Prod 1</p>
                                        <p class="p-0 mb-1">100.00 x 1</p>
                                    </td>
                                    <td>
                                        <input class="form-control bg-muted form-control-sm" type="text" value="1">
                                    </td>
                                    <td>
                                        <button class="btn"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                                <tr style="animation: fadeOut 2s forwards; animation-timeline: scroll()">
                                    <td>
                                        <div style="height: 100px;">
                                            <img style="object-fit: cover; width: 100%; height: 100%;" src="../static/uploads/OLYMPIC1852.png" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="p-0 mb-1">Prod 1</p>
                                        <p class="p-0 mb-1">100.00 x 1</p>
                                    </td>
                                    <td>
                                        <input class="form-control bg-muted form-control-sm" type="text" value="1">
                                    </td>
                                    <td>
                                        <button class="btn"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                                <tr style="animation: fadeOut 2s forwards; animation-timeline: scroll()">
                                    <td>
                                        <div style="height: 100px;">
                                            <img style="object-fit: cover; width: 100%; height: 100%;" src="../static/uploads/OLYMPIC1852.png" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="p-0 mb-1">Prod 1</p>
                                        <p class="p-0 mb-1">100.00 x 1</p>
                                    </td>
                                    <td>
                                        <input class="form-control bg-muted form-control-sm" type="text" value="1">
                                    </td>
                                    <td>
                                        <button class="btn"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>
                                <tr style="animation: fadeOut 2s forwards; animation-timeline: scroll()">
                                    <td>
                                        <div style="height: 100px;">
                                            <img style="object-fit: cover; width: 100%; height: 100%;" src="../static/uploads/OLYMPIC1852.png" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <p class="p-0 mb-1">Prod 1</p>
                                        <p class="p-0 mb-1">100.00 x 1</p>
                                    </td>
                                    <td>
                                        <input class="form-control bg-muted form-control-sm" type="text" value="1">
                                    </td>
                                    <td>
                                        <button class="btn"><i class="bi bi-trash"></i></button>
                                    </td>
                                </tr>

                                <!-- More rows -->
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <h5 class="fw-bolder">Summary</h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="m-0 p-0">Subtotal</p>
                                <p class="m-0 p-0">VAT (Included)</p>
                                <p class="m-0 p-0">Total Amount</p>
                            </div>
                            <div class="text-end">
                                <p class="m-0 p-0">₱  100.00</p>
                                <p class="m-0 p-0">₱  100.00</p>
                                <p class="m-0 p-0">₱  100.00</p>
                            </div>
                        </div>
                    </div>
                    <input class="form-control mb-3" type="text" placeholder="Enter your payment here">
                    <button class="btn btn-dark mb-3"><i class="bi bi-cash-stack me-2 fs-4"></i>Payment</button>
                    <button class="btn btn-secondary"><i class="bi bi-trash3-fill me-2 fs-4"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>