<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="container">
        {% include 'nav.html' %}
        <div class="row">
            <div class="col-12 col-md-7 p-3 pt-0">
                <div style="margin-bottom: 100px">
                    <div class="row pb-3" style="position: fixed; background-color: white; z-index: 100; width: auto">
                        <h5 class="fw-bolder">Product Listing</h5>
                        <div class="col-10">
                            <input id="search-pos" type="text" class="form-control form-control-sm" placeholder="Search Product here...">
                        </div>
                        <div class="col-12 mt-1 d-flex flex-row">
                            <button id="all_category" class="btn btn-sm">All</button>
                            <div id="cashier-category">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="row g-2" id="product-grid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div style="position: fixed; width: 500px; height: 85vh; z-index: 200" class="d-flex rounded flex-column">
                    <h5 class="fw-bolder">Cart Orders</h5>
                    <div class="position-relative mb-3 fade-div" style="height: 70vh; overflow-y: auto">
                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th width="30%">img</th>
                                    <th width="50%">description</th>
                                    <th width="15%">qty</th>
                                    <th width="5%">action</th>
                                </tr>
                            </thead>
                            <tbody id="cart-items">
                                <!-- Rows will be dynamically populated here -->
                            </tbody>                            
                        </table>
                    </div>
                    <div class="mb-3">
                        <h5 class="fw-bolder">Summary</h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="m-0 p-0">Subtotal</p>
                                <p class="m-0 p-0">VAT (Included)</p>
                                <p class="m-0 p-0">Total Amount</p>
                                <p class="m-0 p-0">Change</p>
                            </div>
                            <div class="text-end">
                                <p id="subtotal" class="m-0 p-0">₱ 0.00</p>
                                <p id="vat" class="m-0 p-0">₱ 0.00</p>
                                <p id="total" class="m-0 p-0">₱ 0.00</p>
                                <p id="change" class="m-0 p-0">₱ 0.00</p>
                            </div>
                        </div>
                    </div>
                    <input id="payment" class="form-control mb-3" type="text" placeholder="Enter your payment here">                    
                    <button id="btn-payment" disabled class="btn btn-dark mb-3"><i class="bi bi-cash-stack me-2 fs-4"></i>Payment</button>
                    <button onclick="remove_cart()" class="btn border-dark"><i class="bi bi-trash3-fill me-2 fs-4"></i>Cancel</button>
                </div>
            </div>
        </div>
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>