<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRetailAI</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div id="pos_page">
        <div class="container">
            {% include 'nav.html' %}
            <div class="row">
                <div class="col-12 col-md-7 p-3 pt-0">
                    <div style="margin-bottom: 100px">
                        <div class="row pb-3" style="position: fixed; background-color: white; z-index: 100; width: auto">
                            <h5 class="fw-bolder">Product Listing</h5>
                            <div class="col-10 d-flex flex-row">
                                <input id="search-pos" type="text" class="form-control w-50 form-control-sm" placeholder="Search Product here...">
                                <input id="barcodeID" type="text" class="form-control w-25 ms-2 form-control-sm" placeholder="Scan Barcode">
                            </div>
                            <div class="col-12 mt-1 d-flex flex-row">
                                <button id="all_category" class="btn btn-sm">All</button>
                                <div id="cashier-category">
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2">
                            <div class="row g-2" id="product-grid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div style="position: fixed; width: 500px; height: 85vh; z-index: 200" class="d-flex rounded flex-column">
                        <h5 class="fw-bolder">Cart Orders</h5>
                        <div class="position-relative mb-3 fade-div" style="height: 70vh; overflow-y: auto">
                            <table class="table" style="font-size: 12px;">
                                <thead>
                                    <tr>
                                        <th width="30%">img</th>
                                        <th width="50%">description</th>
                                        <th width="15%">qty</th>
                                        <th width="5%">action</th>
                                    </tr>
                                </thead>
                                <tbody id="cart-items">
                                    <!-- Rows will be dynamically populated here -->
                                </tbody>                            
                            </table>
                        </div>
                        <div class="mb-3">
                            <h5 class="fw-bolder">Summary</h5>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="m-0 p-0">Subtotal</p>
                                    <p class="m-0 p-0">VAT (Included)</p>
                                    <p class="m-0 p-0">Total Amount</p>
                                    <p class="m-0 p-0">Change</p>
                                </div>
                                <div class="text-end">
                                    <p id="subtotal" class="m-0 p-0">₱ 0.00</p>
                                    <p id="vat" class="m-0 p-0">₱ 0.00</p>
                                    <p id="total" class="m-0 p-0">₱ 0.00</p>
                                    <p id="change" class="m-0 p-0">₱ 0.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center gap-2 mb-3">
                            <input id="payment" class="form-control" type="text" placeholder="Enter your payment here">
                            
                            <!-- Custom Dropdown for Payment Options -->
                            <div class="dropdown w-50">
                                <button class="btn border dropdown-toggle w-100 d-flex align-items-center justify-content-between" type="button" id="paymentDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!-- Set "Cash" as the default payment method -->
                                    <span id="selectedPaymentMethod"><i class="bi bi-cash me-2"></i> Cash</span>
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="paymentDropdown">
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#" onclick="selectPaymentMethod('<i class=\'bi bi-cash me-2\'></i> Cash', 'Cash')">
                                            <i class="bi bi-cash me-2"></i> Cash
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#" onclick="selectPaymentMethod('<img src=\'../static/img/gcash.svg\' width=\'20\' height=\'20\' class=\'me-2\' alt=\'G-Cash\'> G-Cash', 'G-Cash')">
                                            <img src="../static/img/gcash.svg" alt="G-Cash" width="20" height="20" class="me-2"> G-Cash
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item d-flex align-items-center" href="#" onclick="selectPaymentMethod('<img src=\'../static/img/maya.jpg\' width=\'20\' height=\'20\' class=\'me-2 rounded\' alt=\'Maya\'> Maya', 'Maya')">
                                            <img src="../static/img/maya.jpg" alt="Maya" width="20" height="20" class="me-2 rounded"> Maya
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <script>
                            // Global variable to store the selected payment method
                            let selectedPaymentMethod = 'Cash';
                        
                            // Function to update the dropdown button and global variable with the selected option
                            function selectPaymentMethod(htmlContent, method) {
                                document.getElementById("selectedPaymentMethod").innerHTML = htmlContent;
                                selectedPaymentMethod = method; // Update the global variable
                            }
                        
                            // Example function to use the global variable
                            function getSelectedPaymentMethod() {
                                console.log("Selected Payment Method:", selectedPaymentMethod);
                                return selectedPaymentMethod;
                            }
                        </script>                        
                                                               
                        <button id="btn-payment" disabled class="btn btn-dark mb-3"><i class="bi bi-cash-stack me-2 fs-4"></i>Payment</button>
                        <button onclick="remove_cart()" class="btn border-dark"><i class="bi bi-trash3-fill me-2 fs-4"></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
            
        <!-- Modal structure -->
        <div class="modal fade" id="receipt" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 fw-bolder" id="addProductLabel">Receipt</h1>
                        <button id="close_receipt" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-5" style="font-size: 12px; max-height: 400px; overflow-y: auto;">
                        <div class="w-100 d-flex flex-column justify-content-end align-items-center">
                            <h6 class="fw-bolder m-0 p-0">OFFSET CLOTHING</h6>
                            <p class="m-0 p-0">6B Marcelo Building Caruncho Avenue, San Nicolas Pasig City</p>
                            <p class="m-0 p-0">offset@gmail.com</p>
                            <p class="m-0 p-0">09567612761</p>
                            <p id="receipt_sales_date" class="m-0 p-0"></p>
                        </div>
                        <div class="w-100 mt-3">
                            <table style="font-size: 12px; width: 100%;" id="receiptTable">
                                <thead>
                                    <tr>
                                        <td width="80%"><h6 class="fw-bolder">Items</h6></td>
                                        <td width="20%"><h6 class="fw-bolder text-end">Price</h6></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
    
                        <div class="w-100 mt-3">
                            <h6 class="fw-bolder">Summary</h6>
                            <table style="font-size: 12px; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td width="80%">
                                            <p class="m-0">Subtotal</p>
                                            <p class="m-0">VAT (Included)</p>
                                            <p class="m-0">Total Amount</p>
                                            <p class="m-0">Payment</p>
                                            <p class="m-0">Change</p>
                                        </td>
                                        <td width="20%">
                                            <p id="receipt_subtotal" class="m-0 d-flex justify-content-end">₱ 100.00</p>
                                            <p id="receipt_vat" class="m-0 d-flex justify-content-end">₱ 12.00</p>
                                            <p id="receipt_totalAmount" class="m-0 d-flex justify-content-end">₱ 112.00</p>
                                            <p id="receipt_payment" class="m-0 d-flex justify-content-end">₱ 150.00</p>
                                            <p id="receipt_change" class="m-0 d-flex justify-content-end">₱ 38.00</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Add a function to close the modal programmatically if needed -->
                        <button onclick="printReceipt()" type="button" class="btn btn-sm btn-success">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="receipt_page" style="display: none;">
        <div style="display: flex; width: 100%; justify-content: center;">
            <div class="p-3 border pb-5 pt-5 mt-5" style="width: 189.44px">
                <div class="w-100">
                    <h6 class="text-center fw-bolder m-0 p-0">OFFSET CLOTHING</h6>
                    <p class="text-center m-0 p-0" style="font-size: 12px;">6B Marcelo Building Caruncho Avenue, San Nicolas Pasig City</p>
                    <p class="text-center m-0 p-0" style="font-size: 12px;">offset@gmail.com</p>
                    <p class="text-center m-0 p-0" style="font-size: 12px;">09567612761</p>
                    <p id="receipt_sales_dates" class="m-0 p-0" style="font-size: 12px;"></p>
                </div>
                <div class="w-100 mt-3">
                    <table style="font-size: 12px; width: 100%;" id="receiptTable">
                        <thead>
                            <tr>
                                <td width="70%"><h6 class="fw-bolder">Items</h6></td>
                                <td width="30%"><h6 class="fw-bolder text-end">Price</h6></td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            
                <div class="w-100 mt-3">
                    <h6 class="fw-bolder">Summary</h6>
                    <table style="font-size: 12px; width: 100%;">
                        <tbody>
                            <tr>
                                <td width="60%">
                                    <p class="m-0">Subtotal</p>
                                    <p class="m-0">VAT (Included)</p>
                                    <p class="m-0">Total Amount</p>
                                    <p class="m-0">Payment</p>
                                    <p class="m-0">Change</p>
                                </td>
                                <td width="40%">
                                    <p id="receipt_subtotal" class="m-0 d-flex justify-content-end">₱ 100.00</p>
                                    <p id="receipt_vat" class="m-0 d-flex justify-content-end">₱ 12.00</p>
                                    <p id="receipt_totalAmount" class="m-0 d-flex justify-content-end">₱ 112.00</p>
                                    <p id="receipt_payment" class="m-0 d-flex justify-content-end">₱ 150.00</p>
                                    <p id="receipt_change" class="m-0 d-flex justify-content-end">₱ 38.00</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>



